@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


.body{
    background-color: #F5F5F5;
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
.IconBook{
     width: 250px;
     height: 250px;
     float: right;
     margin-top: 50px;
     margin-right: 10px;
 }

 .ContentBooks{
    display: flex;
    padding: 125px;
 }

.Books{
  margin: auto;   
  min-width: 30%;
  height: 100%;
  margin-right: 20px;	
}

.DescriptionCont{
   height: 190px;
   width: 100%;
}


.DescBooks{ 
    max-width: 50%;
    max-height: 79vh;
    margin-left: 20px;
    border-radius: 10px;
  }

.Title{
    font-family: 'Open Sans', sans-serif;
    font-style: semi-bold;;
    font-size: 16px;
    padding: 10PX;  
}

.Books1{
    min-width: 100%;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.Books1::-webkit-scrollbar {
    display: none;
}
