.ContFiltros{
    width: 100%vh;
    height: 40px;
    display: flex;
    position: static;
    border: 1px solid #000000;
}

.ButtonFilter{
    margin-left: 50px;
    float: left;
}

.InputSearch{
    border: #000000 1px solid;
    margin-right: 50px;
    float: right;
}

.Catalogo{
    display: grid;
    height: 750px;
    width: 100%vh;
    border: #000000 1px solid;
    grid-template-columns: repeat(5, 1fr);
    position: static;
}

.Pagination{
    border: #000000 1px solid;
    height: 40px;
    display: grid;
}

.TitleBook{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.DescBooks{
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    float: left;
}


.DescBooks2{
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    float: right;
}