@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.link{
    display: flex;
    align-items: cover;
    cursor: pointer;
    padding: 7px;
    margin-left: 10px;
    color: white;
    margin-top: 20px;
}
.link:hover{
    background-color: #D6D6D6;
    width: 85%;
    border-radius: 10px;
    
}
.link > h1{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
}
