@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


.body{
    background-color: #F5F5F5;
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
.sideBar{
     width: 300px;
     min-height: 100vh;  
 }


.Students{ 
    min-width: 30%;
    max-height: 78vh;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 50px;		
}

.DescStudents{ 
    padding: 10px;
    min-width: 55%;
    max-height: 79vh;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 129px;
    margin-right: 20px;
    border: #000000 1px solid;
  }

.Title{
    font-family: 'Open Sans', sans-serif;
    font-style: semi-bold;;
    font-size: 16px;
    padding: 10PX;  
}

.Books1{
    min-width: 80%;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 78vh;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.Books1::-webkit-scrollbar {
    display: none;
}
